  <style>


        p {
            margin-bottom: 20px;
            text-align: center;
        }

        .bullet-points {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;
        }

        .bullet-points li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            width: 80%;
            margin: auto;
        }

    </style>

<div style="text-align: center; margin-top: 50px;">
    <h1>Impact on Credit</h1>
    <p>68 Property Management is excited to have partnered with Landlord Credit Bureau, and to bring the benefits of their services to our clients and tenants in Boise and the Treasure Valley.</p>

    <h2>About Our Partnership</h2>
    <ul class="bullet-points">
        <li style="width: 80%; margin: auto;">• About one third of the population of the United States rents their housing, and for many it is their largest expense.</li>
        <li style="width: 80%; margin: auto;">• In what we hope will become an industry standard, our coordination with LCB allows tenant payment history to reflect on their credit reports.</li>
        <li style="width: 80%; margin: auto;">• The vast majority of tenants who pay on time will be rewarded with the improved credit history that they deserve, and additional mechanisms are put in place in the case of delinquency or damage.</li>
        <li style="width: 80%; margin: auto;">• Our partnership with Landlord Credit Bureau will help attract the best tenants, deter others, and significantly decrease the likelihood and severity of loss for our clients.</li>
    </ul>

</div>
